@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 900px) {
    body {
        font-size: 18px;
    }
}

img {
    max-width: 100%;
    height: auto;
  }

body {
    font-family: Arial, sans-serif;
    color: #355389;
    margin: 10px;
    padding: 20px;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: #355389;
    color: #fff;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    border: solid;
    text-decoration: none;
    color: #355389;
    font-weight: bold;
    padding: 3px;
}

nav ul li a:hover {
    color: #777;
}

main {
    text-align: center;
}

.ordered-list {
    text-align: left;
    font-family: 'Verdana';
    color: #000308;
}

.unordered-list {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #cf1433;
}

.table {
    margin: 0 auto;
    width: 50%
}

.form {
    margin-bottom: 10px
}

footer {
    background-color: #355389;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
